<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Medecin Form</title>
 <link th:href="@{../../webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
 <script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="../../webjars/jquery/3.0.0/js/jquery.min.js"></script>
</head>
<body>

<form th:object="${find2Form}"  method="POST" th:action="@{/medecins/recherche2}" cssClass="form" >

<div class="container">
  <h2>Formulaire médecin</h2>
   <div class="form-group">
    
   
    <label>Nom</label>
    <input type="text" th:field="*{nom}" cssClass="form-control" id="nom" />
    
    <!--  <input type="text" th:field="*{specialite}" cssClass="form-control" id="specialite" />
    
    <form:input path="specialite" cssClass="form-control" id="specialite" /> -->
   
   
   <label>Spécialité</label>
    <select th:field="*{specialite}" cssClass="form-control" 
    Selected="*{find2Form.specialite}" name="tp6"  id="specialite">

<option value=""></option>
	<option value="Spec 1">Spec 1</option>
	<option value="Spec 2">Spec 2</option>
	<option value="Spec 3">Spec 3</option>

</select> 
   </div>
   
   <button type="submit" class="btn btn-primary">Chercher</button>
   
   
 
 </div>
<div class="container">
  <h2>Liste des médecins</h2>
  <table class="table table-striped">
   <thead>
    <th scope="row">#ID</th>
    <th scope="row">Nom</th>
    <th scope="row">Prénom</th>
    <th scope="row">Spécialité</th>
        <th scope="row">Update</th>
    <th scope="row">Delete</th>
   </thead>
   <tbody>
     <tr th:each ="med : ${find2Form.listmed}">
      <td th:utext="${med.id}"> </td>
      <td th:utext="${med.nom}"> </td>
      <td th:utext="${med.prenom}"> </td>
      <td th:utext="${med.specialite}"> </td>
      <td>
      <a th:href="@{/medecins/update/{id}(id=${med.id})}" 
      class="btn btn-primary" role="button">Update</a>
      </td>
      <td>
       <a th:href="@{/medecins/delete/{id}(id=${med.id})}"
        class="btn btn-primary" role="button">Delete</a>

      </td>
     </tr>
   </tbody>
  </table>
  
  
 </div>
</body>